/*
  Most CSS should be applied using the utilites in utilities.css.
  This file contains exceptions, usually because they have complex selectors
  or require out-of-grid or otherwise unorthodox values.
 */

 #gitlab-review-container .gl-content-box {
  width: 352px !important;
}

#gitlab-review-container .gl-collapsed,
#gitlab-review-container.gl-collapsed {
  right: -352px !important;
}
